body {
  color: red;
  background-image: url("../img/mash3.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

@media all and (min-width: 480px) {
  body {
  color: green;
  background-image: url("../img/mash3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-color: black;
  }
}

@media all and (min-width: 960px) {
  body {
    color: red;
    background-image: url("../img/mash6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}